@mixin control {
    div.chatcontrol {
        clear: both;
        margin: 0px;
        padding: 0px;
        width: 100%;
        border-bottom: 1px solid black;
        font-size: 12px;
        
        p {
            margin: 0px;
            padding: 2px;
            padding-left: 7px;
            a.button {
                font-size: 16px;
                line-height: .9em;
                padding: 4px;
            }
        }
        
        form.msg {
            clear: both;
            padding: 7px;
            padding-top: 2px;
            margin: 0px;
            margin-bottom: 5px;
            width: 100%;
        }
        
        form.msg input.msg {
            line-height: 1.6em;
        }
    
    }
    
    a.button,
    form.msg input[type="submit"] {
        text-align: middle;
        padding: 5px 10px;
        background: none;
        border: 1px solid black;
        @include round-box(5px);
        font-size: 13px;
        @include shadow(0px 1px 1px black);
        
        &:active {
            background: none;
            border: 1px solid black;
            cursor: pointer;
            @include shadow(inset 0px 1px 1px black);
        }
        &:hover {
            cursor: pointer;
        }
    
    }
    
    a.iconic.close {
        background: none;
        height: 13px;
        width: 13px;
        background-color: black;
        color: white;
        border: 1px solid black;
        text-align: center;
        line-height: 1em;
        @include round-box(20px);
        font-size: 13px;
        padding: 1px;
        @include shadow(0px 1px 1px black);
        &:hover {
            background: none;
            border: 1px solid black;
            cursor: pointer;
            @include shadow(0px 1px 1px black);
        
        }
        &.big {
            height: 25px;
            width: 25px;
            font-size: 25px;
        }
        &.square {
            @include round-box(5px);
        }
    }

}