@mixin control {
    div.chatcontrol {
        clear: both;
        margin: 0px;
        padding: 0px;
        width: 100%;
        font-size: 12px;
        position: absolute;
        bottom: 0px;
        
        div.brow {
            margin: 0px;
            padding: 2px 2px 0px 7px;
            ul {
                display: inline-block;
                list-style: none;
                li {
                    float: left;
                }
                &.states {
                    float: right;
                    margin-right: 100px;
                    li {
                        margin-left: 5px;
                        padding-right: 5px;
                        border-right: 1px dotted black;
                    }
                    li:last-child {
                        border-right: none;
                    }
                }
            }
            a.button {
                font-size: 16px;
                line-height: .9em;
                margin-right: 5px;
                &.text {
                    font-size: 12px;
                    position: relative;
                    top: 2px;
                    padding: 3px 4px 2px 4px;
                    font-weight: normal;
                }
            }
        }
        
        form.msg {
            clear: both;
            padding-left: 7px;
            margin: 0px;
            margin-bottom: 10px;
            width: 100%;
            overflow: hidden;
            input.msg {
                line-height: 1.6em;
                display: inline-block;
                float: left;
                height: 22px;
            }
            textarea.msg {
                display: none;
                line-height: 1.6em;
                float: left;
            }
            input[type="submit"] {
                float: left;
                margin-left: 10px;
            }
        }
    
    }
    
    a.button,
    form.msg input[type="submit"] {
        text-align: middle;
        padding: 3px 5px;
        background: none;
        border: 1px solid black;
        @include round-box(3px);
        font-size: 13px;
        // @include shadow(0px 1px 1px rgba(0, 0, 0, 0.75));
        &:active {
            background: none;
            border: 1px solid black;
            cursor: pointer;
            // @include shadow(inset 0px 1px 1px rgba(0, 0, 0, 0.75));
        }
        &:hover {
            cursor: pointer;
        }
        &.text {
            font-size: 12px;
            position: relative;
            top: -1px;
            padding: 4px;
        }
    
    }
    
    a.iconic.close {
        background: none;
        text-align: center;
        line-height: 1em;
        font-size: 16px;
        padding: 1px;
        // @include shadow(0px 1px 1px rgba(0, 0, 0, 0.75));
        &:hover {
            background: none;
            cursor: pointer;
        }
        &:active {
            // @include shadow(inset 0px 1px 1px rgba(0, 0, 0, 0.75));
        }
        
        &.button {
            background-color: black;
            color: white;
            border: 1px solid black;
        }
        
        &.big {
            padding: 1px 4px;
            font-size: 18px;
        }
        &.medium {
            height: 20px;
            width: 20px;
            font-size: 20px;
        }
        &.square {
            @include round-box(3px);
        }
    }
    
    form.msg input[type="submit"] {
        padding: 4px;
    }

}