@mixin feed {
    &.feed {
        header {
            display: block;
            div {
                display: block;
            }
        }
        
        div.log {
            border: none;
        }
    }
}