@mixin feed {
    &.feed {
        
        margin-top: 40px;
    
        header {
            display: block;
            line-height: 1.6em;
            
            div {
                display: block;
                padding: 5px 2px;
                
                h3 {
                    font-size: 30px;
                    margin-bottom: 10px;
                    
                    span {
                        font-size: 15px;
                        font-style: italic;
                        padding-left: 10px;
                    }
                }
                
                p {
                    padding: 0px 10px;
                }
            }
            
            ul {
                margin-left: 10px;
                
                li {
                    display: inline-block;
                    
                    a.button {
                        display: block;
                        float: none;
                        padding: 0px 4px;
                        font-size: 16px;
                    }
                }
            }
        }
        
        div.log {
            border: none;
            width: 65%;
            margin: 0px 60px;
            border-radius: 0px;
            
            ul.logwrap {
                border: 1px dashed black;
            }
        }
        
        div.users {
            display: block;
            width: 30%;
        }
    }
}