@mixin headers {

    header {
    
        width: auto;
        height: auto;
        border-bottom: none;
        line-height: 1.3em;
        textarea {
            display: none;
            height: 60px;
        }
        
        .button {
            padding: 0px 4px !important;
            position: relative;
            right: 5px;
            display: none;
            float: right;
            width: 10px;
            margin-bottom: -25px !important;
        }
        a[href=\#save] {
            right: 30px;
            top: -60px;
        }
        a[href=\#cancel] {
            top: -60px;
        }
        
        div {
            margin: 0px;
            padding: 0px 2px;
            display: none;
            
            p {
                margin: 0px;
                padding: 0xp;
            }
            
            &.title {
                padding-top: 0px;
                padding-bottom: 2px;
            }
            
            &.topic {
                padding: 5px 10px;
                border-bottom: 1px solid black;
                /*border-bottom: none;*/
                &.topic img { vertical-align: middle; }
            }
        
        }
    
    }

}