
@mixin button-gradient($start, $init, $slope, $bg) {
    background: -webkit-linear-gradient($start, $init 0%, $slope 5%, $bg 97%);
    background: -moz-linear-gradient($start, $init 0%, $slope 5%, $bg 97%);
    background: -ms-linear-gradient($start, $init 0%, $slope 5%, $bg 97%);
    background: -o-linear-gradient($start, $init 0%, $slope 5%, $bg 97%);
    background: linear-gradient($start, $init 0%, $slope 5%, $bg 97%);
}

@mixin round-corner($x, $y, $params) {
    border-#{$x}-#{$y}-radius: $params;
    -moz-border-radius-#{$x}#{$y}: $params;
    -webkit-border-#{$x}-#{$y}-radius: $params;
}

@mixin round-box($params) {
    border-radius: $params;
    -moz-border-radius: $params;
    -webkit-border-radius: $params;
}

@mixin round-top($r) {
    @include round-corner(top, left, $r);
    @include round-corner(top, right, $r);
}

@mixin shadow($params) {
    -webkit-box-shadow: $params;
    -moz-box-shadow: $params;
    box-shadow: $params;
}

@mixin transitionp($prop, $val) {
    -webkit-transition-#{$prop}: $val;
    -moz-transition-#{$prop}: $val;
    -o-transition-#{$prop}: $val;
    transition-#{$prop}: $val;
}

@mixin transition($val) {
    -webkit-transition: $val;
    -moz-transition: $val;
    -o-transition: $val;
    transition: $val;
}
