@mixin messages {

    .logmsg {
        margin: 0px;
        padding: 0px 5px 2px 5px;
        vertical-align: middle;
        position: relative;
        line-height: 1.3em;
        
        span {
            display: table-cell;
            padding-right: 5px;
            vertical-align: middle;
            margin-top: auto;
            margin-bottom: auto;
            
            &.ts {
                font-weight: bold;
                font-size: 11px;
            }
            
            &.servermsg {
                font-weight: bold;
                font-style: normal;
            }
            
            &.cmsg,
            &.caction {
                word-wrap: break-word;
                &.user {
                    word-wrap: normal;
                    white-space: nowrap;
                }
            }
            
        }
        
        .caction {
            font-weight: normal;
            font-style: italic;
            &.user em {
                font-style: italic;
                font-weight: bold;
                color: inherit;
                vertical-align: middle;
            }
        }
        
        .cevent {
            font-weight: bold;
            vertical-align: middle;
        }
        
        em {
            font-weight: normal;
        }
    
    }
    
    .loginfo {
        margin: 5px;
        padding: 0px;
        vertical-align: middle;
        position: relative;
        line-height: 1.3em;
        border: 1px solid black;
        background-color: white;
        
        a.close {
            display: block;
            position: relative;
            top: 5px;
            right: 5px;
            float: right;
            text-decoration: none;
            color: white;
        }
        
        .whoiswrap {
            overflow: hidden;
            white-space: nowrap;
            .avatar {
                float: left;
                padding: 5px;
                background-color: black;
            }
            .info {
                float: left;
                padding: 5px;
                border-left: 1px solid black;
                ul {
                    list-style: disc;
                    padding-left: 20px;
                    padding-bottom: 10px;
                }
                section ul {
                    list-style: none;
                    padding-left: 15px;
                    li {
                        white-space: normal;
                        word-wrap: break-word;
                    }
                }
            }
        }
    }

}