@mixin messages {

    .logmsg {
        margin: 0px;
        padding: 0px 5px 2px 5px;
        vertical-align: middle;
        position: relative;
        line-height: 1.3em;
        
        span {
            display: table-cell;
            padding-right: 5px;
            vertical-align: middle;
            margin-top: auto;
            margin-bottom: auto;
            
            &.ts {
                font-weight: bold;
                font-size: 11px;
            }
            
            &.servermsg {
                font-weight: bold;
                font-style: normal;
            }
            
            &.cmsg,
            &.caction {
                word-wrap: break-word;
                &.user {
                    word-wrap: normal;
                    white-space: nowrap;
                }
            }
            
        }
        
        .caction {
            font-weight: normal;
            font-style: italic;
            &.user em {
                font-style: italic;
                font-weight: bold;
                color: inherit;
                vertical-align: middle;
            }
        }
        
        .cevent {
            font-weight: bold;
            vertical-align: middle;
        }
        
        em {
            font-weight: normal;
        }
    
    }

}