@mixin navbar {
    
    nav.tabs {
        width: 100%;
        height: 30px;
        margin-bottom: -1px;
        
        div.tabwrap {
            float: left;
            margin: 0px;
            padding: 0px;
            overflow: auto;
        }
        
        ul {
            list-style: none;
            margin: 0px;
            float: left;
            padding: 0px 8px 0;
            height: 30px;
    
            &#tabnav {
                padding: 4px 10px 0px 10px;
                li {
                    margin-top: -2px;
                    a {
                        padding: 2px 5px;
                        margin: 0px 2px 0px 0px;
                        font-size: 16px;
                        &.text {
                            position: relative;
                            top: 3px;
                            font-weight: normal;
                        }
                    }
                }
            }
            
            li {
                float: left;
                margin-top: 2px;
            }
            
            &.tabs {
                height: 30px;
            
                li {
                    margin-right: 2px;
                
                    a.tab {
                        text-decoration: none;
                        padding: 4px 5px 3px 5px;
                        border: 1px solid black;
                        border-bottom: none;
                        display: block;
                        &:hover {
                            text-decoration: none;
                            border: 1px solid black;
                            border-bottom: none;
                            padding: 5px 5px 4px 5px;
                            margin-top: -2px;
                        }
                    }
                
                    &.active {
                        margin-top: 0px;
                        a.tab {
                            padding: 5px 7px;
                            border: 1px solid black;
                            border-bottom: none;
                            &:hover {
                                padding: 5px 7px;
                                margin-top: 0px;
                            }
                        }
                    }
                }
            
                &#chattabs {
                    li {
                        &.hidden { display: none; }
                        
                        a.tab {
                            @include round-top(5px);
                            &:hover {
                            }
                        }
                        
                        a.close {
                            display: none;
                        }
                        
                        &.active {
                            a.tab {
                                padding-right: 24px;
                                &:hover {
                                    padding-right: 24px;
                                }
                            }
                            a.close {
                                display: block;
                                position: relative;
                                top: -24px;
                                right: 5px;
                                float: right;
                            }
                        }
                    
                    }
                    &.hc li.active {
                        a.tab {
                            padding-right: 7px;
                            &:hover {
                                padding-right: 7px;
                            }
                        }
                        a.close {
                            display: none;
                        }
                    }
                }
            }
        
        }
    
    }

}