@mixin navbar {
    
    nav.tabs {
        width: 100%;
        overflow: hidden;
        margin-bottom: -1px;
        
        ul {
            list-style: none;
            margin: 0px;
            float: left;
            
            &#chattabs {
                float: left;
                list-style: none;
                padding: 14px 8px 0;
                width: 80%;
                overflow: hidden;
                height: 30px;
                li {
                    margin-right: 2px;
                }
            }
    
            &#tabnav {
                float: right;
                padding: 10px 20px;
                li a {
                    padding: 4px 7px;
                    margin: 0px 5px 0px 0px;
                }
            }
            
            li {
                float: left;
                margin-top: 2px;
                &.hidden { display: none; }
                
                a.tab {
                    text-decoration: none;
                    padding: 4px 5px;
                    -webkit-border-top-left-radius: 5px;
                    -webkit-border-top-right-radius: 5px;
                    -moz-border-radius-topleft: 5px;
                    -moz-border-radius-topright: 5px;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                    border: 1px solid black;
                    border-bottom: none;
                    display: block;
                    margin-top: -1px;
                    &:hover {
                        text-decoration: none;
                        border: 1px solid black;
                        border-bottom: none;
                        padding: 9px 5px;
                        margin-top: -11px;
                    }
                }
                
                a.close {
                    display: none;
                }
                
                &.active {
                    margin-top: 0px;
                    a.tab {
                        padding: 7px 7px 7px 25px;
                        border: 1px solid black;
                        border-bottom: none;
                        margin-top: -4px;
                        &:hover {
                            padding: 7px 7px 7px 25px;
                            margin-top: -4px;
                        }
                    }
                    a.close {
                        display: block;
                        position: relative;
                        top: -25px;
                        left: 5px;
                    }
                }
            
            }
        
        }
    
    }

}