@mixin pager {
    div.pager {
        position: absolute;
        top: 25px;
        right: 160px;
        z-index: 100;
        audio {
            display: none;
        }
        
        div.notice {
            padding: 15px;
            padding-left: 0px;
            margin-bottom: 10px;
            background-color: white;
            border: 1px solid black;
            border-radius: 5px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.43);
            overflow: auto;
            
            div.icon {
                float: left;
                margin-left: 15px;
            }
            
            div.content {
                float: left;
                margin-left: 15px;
                max-width: 350px;
                footer.buttons {
                    padding-top: 10px;
                    a.button {
                        margin-right: 5px;
                        font-size: 16px;
                    }
                }
            }
            
            a.close_notice {
                float: right;
                text-decoration: none;
                font-size: 16px;
            }
        }
    }
}