
@mixin popup {
    div.floater {
        position: absolute;
        top: 5em;
        left: 20%;
        width: 60%;
        height: 80%;
        div.inner {
            height: 100%;
            background-color: white;
            border: 1px solid black;
        }
        
    }
}

