
@mixin popup {
    div.floater {
        position: absolute;
        z-index: 999;
        
        div.inner {
            height: 100%;
            background-color: white;
            border: 1px solid black;
            @include round-box(10px);
            @include shadow(0px 0px 10px rgba(0, 0, 0, 0.43));
            h2 {
                padding: 10px;
                @include round-top(10px);
                a.close {
                    position: absolute;
                    top: 5px;
                    right: 5px;
                }
            }
            div.content {
                margin: 10px;
            }
        }
        
        &.prompt {
            div.content {
                padding: 0px 10px;
                span {
                    display: inline-block;
                    a.close {
                        position: relative;
                        top: 3px;
                    }
                }
            }
        }
        
        &.item-picker {
            div.inner {
                @include round-box(0px);
                @include shadow(none);
                height: 300px;
                border-bottom: none;
                h2 {
                    @include round-top(0px);
                }
                .content {
                    height: 80%;
                    ul {
                        list-style: none;
                        padding: 0px;
                        margin: 0px;
                    }
                    section.tabs {
                        height: 25px;
                        ul {
                            padding: 2px 0px;
                            li {
                                float: left;
                                a {
                                    padding: 2px;
                                    margin: 2px;
                                    border: 1px solid black;
                                    font-size: 10px;
                                }
                            }
                        }
                    }
                    section.pages {
                        background-color: rgba(255, 255, 255, 0.75);
                        height: 75%;
                        border: 1px solid black;
                        overflow: auto;
                        .page {
                            display: none;
                            ul {
                                li {
                                    border-bottom-width: 1px;
                                    border-bottom-style: dotted;
                                    margin: 0px;
                                    padding: 4px 10px;
                                    overflow: hidden;
                                    &:hover {
                                        cursor: pointer;                                        
                                        background-color: rgba(0, 0, 0, 0.15);
                                        span.hicon {
                                            opacity: 1;
                                        }
                                    }
                                    span.value {
                                        display: block;
                                    }
                                    span.hicon {
                                        display: block;
                                        float: right;
                                        color: #0AAF2B;
                                        font-size: 19px;
                                        margin-left: 10px;
                                        opacity: 0;
                                        i {
                                            font-style: normal;
                                        }
                                    }
                                    &:last-child {
                                        border-bottom: none;
                                    }
                                }
                            }
                        }
                    }
                    section.buttons {
                        position: absolute;
                        top: auto;
                        bottom: 10px;
                        right: 10px;
                        .button.text {
                            border: 1px solid black;
                            &.evented {
                                cursor: default;
                            }
                        }
                    }
                }
            }
        }
    }
}

