
@mixin popup {
    div.floater {
        position: absolute;
        
        div.inner {
            height: 100%;
            background-color: white;
            border: 1px solid black;
            @include round-box(10px);
            @include shadow(0px 0px 10px rgba(0, 0, 0, 0.43));
            h2 {
                padding: 10px;
                @include round-top(10px);
                a.close {
                    position: absolute;
                    top: 5px;
                    right: 5px;
                }
            }
            div.content {
                margin: 10px;
            }
        }
        
        &.prompt {
            div.content {
                padding: 0px 10px;
                span {
                    display: inline-block;
                    a.close {
                        position: relative;
                        top: 3px;
                    }
                }
            }
        }
        
        &.item-picker {
            div.inner {
                @include round-box(0px);
                @include shadow(none);
                height: 300px;
                width: 350px;
                border-bottom: none;
                h2 {
                    @include round-top(0px);
                }
                .content {
                    overflow: auto;
                    height: 80%;
                    section.pages {
                        background-color: rgba(255, 255, 255, 0.75);
                        height: 75%;
                        border: 1px solid black;
                    }
                    section.buttons {
                        position: absolute;
                        top: auto;
                        bottom: 10px;
                        right: 10px;
                        .button.text {
                            border: 1px solid black;
                            
                        }
                    }
                }
            }
        }
    }
}

