
@mixin settings {
    div.floater.settings {
        div.bookwrap {
            margin: 10px 10px 0px 10px;
            nav.tabs {
                padding: 0px 5px;
            }
            div.book {
                padding: 10px;
                border: 1px solid black;
                div.page {
                    display: none;
                    overflow: auto;
                    &.active {
                        display: block;
                    }
                    div.item {
                        border-bottom: 1px solid black;
                        padding-bottom: 5px;
                        margin-bottom: 5px;
                        &:last-child {
                            border: none;
                        }
                        &.centered {
                            text-align: center;
                        }
                        &.text, .text {
                            p {
                                padding: 0px 10px;
                            }
                            p + p {
                                padding: 5px 10px 0px 10px;
                            }
                        }
                        .formwrap {
                            padding: 0px 10px;
                        }
                        .twopane {
                            overflow: hidden;
                            .left {
                                float: left;
                                width: 35%;
                            }
                            .right {
                                float: right;
                                width: 60%;
                            }
                        }
                    }
                }
            }
        }
        
        footer {
            width: 100%;
            padding: 10px 5px;
            overflow: hidden;
            a.button {
                margin-left: 5px;
            }
        }
    }
}


