@mixin button-gradient($start, $init, $slope, $bg) {
    background: -webkit-linear-gradient($start, $init 0%, $slope 5%, $bg 97%);
    background: -moz-linear-gradient($start, $init 0%, $slope 5%, $bg 97%);
    background: -ms-linear-gradient($start, $init 0%, $slope 5%, $bg 97%);
    background: -o-linear-gradient($start, $init 0%, $slope 5%, $bg 97%);
    background: linear-gradient($start, $init 0%, $slope 5%, $bg 97%);
}

@mixin wsc-theme($base: #0F6175,
    $chrome: #406D8B,
    $chrome-shadow: #0D4D69,
    $chrome-color: #AFD7F5,
    $chrome-a: #FFB024,
    $chrome-ah: white,
    $log-bg: #EAF8FF,
    $light: #7C9AB4,
    $a: #960101,
    $ah: white,
    $log-a: #149E5C,
    $log-ah: #FF5959,
    $tab-a: white,
    $tab-ah: white,
    $button: #AAE1EE,
    $buttonh: #AAE1EE,
    $button-shadow: #0A384E, 
    $buttonh-shadow: #1773A0, 
    $bgs: top,
    $bgi: #D3EDFF,
    $bgsl: #298FD3,
    $bgbg: #406D8B,
    $hbgs: top,
    $hbgi: #D3EDFF,
    $hbgsl: #1C78B6,
    $hbgbg: #1B4968,
    $abgs: top,
    $abgi: #D3EDFF,
    $abgsl: #55A5DB,
    $abgbg: #406D8B,
    $close: #FFF6E4,
    $closeh: #FFF6E4,
    $close-shadow: #311604,
    $close-bgs: top,
    $close-bgi: #FFA69E,
    $close-bgsl: #FC6053,
    $close-bgbg: #B1362C,
    $close-hbgs: top,
    $close-hbgi: #FFA69E,
    $close-hbgsl: #F74738,
    $close-hbgbg: #A22D23,
    $tab-bgs: top,
    $tab-bgi: #D3EDFF,
    $tab-bgsl: #2893DA,
    $tab-bgbg: #306080,
    $tab-hbgs: top,
    $tab-hbgi: #D3EDFF,
    $tab-hbgsl: #2E9BE4,
    $tab-hbgbg: #306080,
    $tab-abgs: top,
    $tab-abgi: #D3EDFF,
    $tab-abgsl: #55A5DB,
    $tab-abgbg: #406D8B,
    $outer-border: #0D4D69,
    $inner-border: #0D4D69,
    $heading-bg: #81AAC5,
    $heading-color: #063B63,
    $highlight: white,
    $tabbed: #FF5959,
    $tabbed-fill: #9AD7F1,
    $tabbed-fill-bg: #C93838,
    $noise: #223740) {
    
    color: $base;
    a {
        color: $a;
        &:hover { color: $ah; }
    }
    a.button,
    form.msg input[type="submit"] {
        @include button-gradient($bgs, $bgi, $bgsl, $bgbg);
        background-color: $chrome;
        border-color: $base;
        color: $button;
        text-shadow: 0px -1px $button-shadow;
        &:hover {
            @include button-gradient($hbgs, $hbgi, $hbgsl, $hbgbg);
            background-color: $chrome-shadow;
            border-color: $base;
            color: $buttonh;
            text-shadow: 0px -1px $buttonh-shadow;
        }
    }
    
    nav.tabs {
        ul#chattabs li {
            a {
                @include button-gradient($tab-bgs, $tab-bgi, $tab-bgsl, $tab-bgbg);
                background-color: $chrome;
                border-color: $outer-border;
                color: $tab-a;
                &.button {
                    border-color: $base;
                }
                &:hover {
                    @include button-gradient($tab-hbgs, $tab-hbgi, $tab-hbgsl, $tab-hbgbg);
                    color: $tab-ah;
                }
            }
            a.closetab {
                @include button-gradient($close-bgs, $close-bgi, $close-bgsl, $close-bgbg);
                color: $close;
                text-shadow: 0px -1px $close-shadow;
                font-weight: bold;
                border-color: $base;
                &:hover {
                    @include button-gradient($close-hbgs, $close-hbgi, $close-hbgsl, $close-hbgbg);
                    color: $closeh;
                    text-shadow: 0px -1px $close-shadow;
                }
            }
            &.noise a.tab { font-weight: bold; }
            &.tabbed {
                a.tab {
                    color: $tabbed;
                    border-color: $tabbed;
                    border-width: 2px;
                    font-weight: bold;
                }
                &.fill a.tab {
                    @include button-gradient($tab-bgs, $tab-bgi, $tabbed-fill-bg, $tab-bgbg);
                    color: $tabbed-fill;
                }
            }
            &.active a.tab {
                @include button-gradient($tab-abgs, $tab-abgi, $tab-abgsl, $tab-abgbg);
            }
        }
    }
    
    div.chatbook {
        background-color: $chrome;
        border-color: $outer-border;
    }
    div.chatwindow {

        header {
            div.title {
                color: $chrome-color;
                a {
                    color: $chrome-a;
                    &:hover { color: $chrome-ah; }
                }
            }
            div.topic {
                background-color: $heading-bg;
                border-color: $inner-border;
                color: $heading-color;
            }
        }
        
        div.chatlog {
            background-color: $log-bg;
            
            ul.logwrap {
                
                a {
                    color: $log-a;
                    &:hover { color: $log-ah; }
                }
                
                border-color: $inner-border;
                .logmsg {
                    color: $base;
                    &.highlight,
                    &.highlight span {
                        background-color: $highlight;
                    }
                    span {
                        &.ts,
                        &.bg { color: $light; }
                    }
                }
            }
            
        }
        
    }
    
    div.chatcontrol {
        background-color: $chrome;
    }
    
    div.chatusers {
        div.pc {
            h3, h4 {
                background-color: $heading-bg;
                color: $heading-color;
            }
            ul {
                color: $chrome-color;
                a {
                    color: $chrome-a;
                    &:hover { color: $chrome-ah; }
                    em { color: $chrome-color; }
                }
            }
        }
        border: 1px solid $inner-border;
        border-left: none;
    }
    
    div.chatwindow div.userinfo {
        border-color: $inner-border;
        background-color: $heading-bg;
        div.info {
            background-color: $chrome;
            border-color: $inner-border;
            color: $chrome-color;
            a {
                color: $chrome-a;
                &:hover { color: $chrome-ah; }
            }
        }
    }
    
}