
@mixin wsc-theme($base: #075C70,
    $chrome: #406D8B,
    $chrome-shadow: #0D4D69,
    $chrome-color: #AFD7F5,
    $chrome-a: #FFB024,
    $chrome-ah: white,
    $chrome-ad: none,
    $chrome-ahd: none,
    $log-bg: #CEDBE2,
    $light: #7290AA,
    $a: #960101,
    $ah: white,
    $ad: none,
    $ahd: none,
    $usrl-ad: none,
    $usrl-ahd: none,
    $usri-ad: none,
    $usri-ahd: none,
    $log-a: #9B3D08,
    $log-ah: #23AFAF,
    $log-ad: none,
    $log-ahd: none,
    $tab-a: white,
    $tab-ah: white,
    $tab-ac: #FFB024,
    $button: #D4F4FC,
    $buttonh: #D4F4FC,
    $buttona: #D4F4FC,
    $buttond: none,
    $buttonhd: none,
    $buttonb: #406D8B,
    $buttonhb: #611A14,
    $buttonab: #406D8B,
    $button-shadow: #0A384E, 
    $buttonh-shadow: #1773A0, 
    $buttona-shadow: #1773A0, 
    $bgs: top,
    $bgi: #D7FCFF,
    $bgsl: #42BEC9,
    $bgbg: #0C8A8F,
    $abgs: top,
    $abgi: #D7FCFF,
    $abgsl: #0C8A8F,
    $abgbg: #42BEC9,
    $hbgs: top,
    $hbgi: #FFD3D3,
    $hbgsl: #B61C1C,
    $hbgbg: #681B1B,
    // NAV BUTTONS
    $nbutton: #B7C4B7,
    $nbuttonh: #D3DDD3,
    $nbuttona: #B7C4B7,
    $nbuttond: none,
    $nbuttonhd: none,
    $nbuttonb: #5B6859,
    $nbuttonhb: #5B6859,
    $nbuttonab: #5B6859,
    $nbutton-shadow: #0A384E, 
    $nbuttonh-shadow: #1773A0, 
    $nbuttona-shadow: #1773A0, 
    $nbgs: top,
    $nbgi: #BFCABD,
    $nbgsl: #849183,
    $nbgbg: #657562,
    $hnbgs: top,
    $hnbgi: #DBE4DA,
    $hnbgsl: #B3C2B2,
    $hnbgbg: #839480,
    $anbgs: top,
    $anbgi: #BFCABD,
    $anbgsl: #657562,
    $anbgbg: #849183,
    // /NAV BUTTONS
    $close: #FFF6E4,
    $closeh: #FFF6E4,
    $closea: #FFF6E4,
    $closeb: #6B0101,
    $closeab: #6B0101,
    $closehb: #035261,
    $closed: none,
    $closehd: none,
    $closead: none,
    $close-shadow: #311604,
    $close-bgs: top,
    $close-bgi: #FFA69E,
    $close-bgsl: #FC6053,
    $close-bgbg: #B1362C,
    $close-hbgs: top,
    $close-hbgi: #A1DAFF,
    $close-hbgsl: #5ABDF5,
    $close-hbgbg: #147AAA,
    $close-abgs: top,
    $close-abgi: #FFA69E,
    $close-abgsl: #B1362C,
    $close-abgbg: #FC6053,
    $tab-bgs: top,
    $tab-bgi: #D3EDFF,
    $tab-bgsl: #2893DA,
    $tab-bgbg: #306080,
    $tab-hbgs: top,
    $tab-hbgi: #D3EDFF,
    $tab-hbgsl: #2E9BE4,
    $tab-hbgbg: #306080,
    $tab-abgs: top,
    $tab-abgi: #D3EDFF,
    $tab-abgsl: #55A5DB,
    $tab-abgbg: #406D8B,
    $outer-border: #0D4D69,
    $inner-border: #0D4D69,
    $heading-bg: #81AAC5,
    $heading-color: #063B63,
    $topic-bg: #81AAC5,
    $topic-color: #063B63,
    $userlist-bg: #406D8B,
    $highlight: #FDC8A5,
    $tabbed: #FF5959,
    $tabbed-fill: #9AD7F1,
    $tabbed-fill-bg: #C93838,
    $noise: #223740,
    $pu-h-bg: #406D8B,
    $pu-h-color: white,
    $pu-h-bgs: top,
    $pu-h-bgi: #D3EDFF,
    $pu-h-bgsl: #55A5DB,
    $pu-h-bgbg: #406D8B,
    $pu-t: #960101,
    $pu-ta: #960101,
    $settings-color: #3E7A88,
    $settings-outer-border: #0D4D69,
    $settings-inner-border: #0D4D69,
    $settings-item-border: #8CB3C4,
    $settings-item-faint-color: #5FA4B4,
    $brow-state-color: #063B63,
    $pager-bg: #81AAC5,
    $pager-header: #063B63,
    $pager-color: #3E7A88,
    $pager-close: #063B63,
    $pager-closeh: #B9280D,
    $x: #063B63,
    $xh: #B9280D,
    $xd: none,
    $xhd: none) {
    
    color: $base;
    a {
        color: $a;
        text-decoration: $ad;
        &:hover {
            color: $ah;
            text-decoration: $ahd;
        }
    }
    a.button,
    form.msg input[type="submit"] {
        @include button-gradient($bgs, $bgi, $bgsl, $bgbg);
        background-color: $bgbg;
        border-color: $buttonb;
        color: $button;
        //text-shadow: 0px -1px $button-shadow;
        text-decoration: $buttond;
        &:hover {
            @include button-gradient($hbgs, $hbgi, $hbgsl, $hbgbg);
            background-color: $hbgbg;
            border-color: $buttonhb;
            color: $buttonh;
            //text-shadow: 0px -1px $buttonh-shadow;
            text-decoration: $buttonhd;
        }
        &:active {
            @include button-gradient($abgs, $abgi, $abgsl, $abgbg);
            background-color: $abgbg;
            border-color: $buttonab;
            color: $buttona;
        }
    }
    
    a.iconic.close {
        color: $x !important;
        text-decoration: $xd !important;
        &:hover {
            color: $xh !important;
            text-decoration: $xhd !important;
        }
        
        &.button {
            @include button-gradient($close-bgs, $close-bgi, $close-bgsl, $close-bgbg);
            color: $close !important;
            text-shadow: 0px -1px $close-shadow;
            font-weight: bold;
            border-color: $closeb;
            text-decoration: $closed !important;
            &:hover {
                @include button-gradient($close-hbgs, $close-hbgi, $close-hbgsl, $close-hbgbg);
                color: $closeh !important;
                text-shadow: 0px -1px $close-shadow;
                text-decoration: $closehd !important;
                border-color: $closehb;
            }
            &:active {
                @include button-gradient($close-abgs, $close-abgi, $close-abgsl, $close-abgbg);
                color: $closea !important;
                text-shadow: 0px -1px $close-shadow;
                text-decoration: $closead !important;
                border-color: $closeab;
            }
        }
    }
    
    nav.tabs {
        ul#chattabs li {
            a.tab {
                @include button-gradient($tab-bgs, $tab-bgi, $tab-bgsl, $tab-bgbg);
                background-color: $chrome;
                border-color: $outer-border;
                color: $tab-a;
                &.button {
                    border-color: $base;
                }
                &:hover {
                    @include button-gradient($tab-hbgs, $tab-hbgi, $tab-hbgsl, $tab-hbgbg);
                    color: $tab-ah;
                }
            }
            &.noise a.tab { font-weight: bold; }
            &.noise.chatting a.tab { color: $tab-ac; }
            &.tabbed {
                a.tab {
                    color: $tabbed;
                    border-color: $tabbed;
                    border-width: 2px;
                    font-weight: bold;
                }
                &.fill a.tab {
                    @include button-gradient($tab-bgs, $tab-bgi, $tabbed-fill-bg, $tab-bgbg);
                    color: $tabbed-fill;
                }
            }
            &.active a.tab {
                @include button-gradient($tab-abgs, $tab-abgi, $tab-abgsl, $tab-abgbg);
            }
        }
        ul#tabnav li {
            a.button,
            form.msg input[type="submit"] {
                @include button-gradient($nbgs, $nbgi, $nbgsl, $nbgbg);
                background-color: $nbgbg;
                border-color: $nbuttonb;
                color: $nbutton;
                //text-shadow: 0px -1px $button-shadow;
                text-decoration: $nbuttond;
                &:hover {
                    @include button-gradient($hnbgs, $hnbgi, $hnbgsl, $hnbgbg);
                    background-color: $hnbgbg;
                    border-color: $nbuttonhb;
                    color: $nbuttonh;
                    //text-shadow: 0px -1px $nbuttonh-shadow;
                    text-decoration: $nbuttonhd;
                }
                &:active {
                    @include button-gradient($anbgs, $anbgi, $anbgsl, $anbgbg);
                    background-color: $anbgbg;
                    border-color: $nbuttonab;
                    color: $nbuttona;
                }
            }
        }
    }
    
    div.chatbook {
        background-color: $chrome;
        border-color: $outer-border;
    }
    div.chatwindow {

        header {
            div.title {
                color: $chrome-color;
                a {
                    color: $chrome-a;
                    text-decoration: $chrome-ad;
                    &:hover {
                        color: $chrome-ah;
                        text-decoration: $chrome-ahd;
                    }
                }
            }
            div.topic {
                background-color: $topic-bg;
                border-color: $inner-border;
                color: $topic-color;
            }
        }
        
        div.chatlog {
            background-color: $log-bg;
            border-color: $inner-border;
            
            ul.logwrap {
                
                a {
                    color: $log-a;
                    text-decoration: $log-ad;
                    &:hover {
                        color: $log-ah;
                        text-decoration: $log-ahd;
                    }
                }
                
                .logmsg {
                    color: $base;
                    &.highlight,
                    &.highlight span {
                        background-color: $highlight;
                    }
                    span {
                        &.ts,
                        &.bg { color: $light; }
                    }
                }
                
                .loginfo {
                    background-color: $chrome;
                    border-color: $outer-border;
                    color: $chrome-color;
                    a:not(.button) {
                        color: $chrome-a;
                        &:hover {
                            color: $chrome-ah;
                        }
                    }
                    .whoiswrap {
                        .avatar {
                            background-color: $heading-bg;
                        }
                        .info {
                            border-color: $outer-border;
                        }
                    }
                }
            }
            
        }
        
    }
    
    div.chatcontrol {
        background-color: $chrome;
        div.brow {
            ul.states li {
                color: $brow-state-color;
            }
        }
    }
    
    div.chatusers {
        div.pc {
            h3, h4 {
                background-color: $heading-bg;
                border-color: $inner-border !important;
                color: $heading-color;
            }
            ul {
                color: $chrome-color;
                a {
                    color: $chrome-a;
                    text-decoration: $usrl-ad;
                    &:hover {
                        color: $chrome-ah;
                        text-decoration: $usrl-ahd;
                    }
                    em { color: $chrome-color; }
                }
            }
        }
        border: 1px solid $inner-border;
    }
    
    div.chatwindow div.userinfo {
        border-color: $inner-border;
        background-color: $heading-bg;
        div.info {
            background-color: $chrome;
            border-color: $inner-border;
            color: $chrome-color;
            a {
                color: $chrome-a;
                text-decoration: $usri-ad;
                &:hover {
                    color: $chrome-ah;
                    text-decoration: $usri-ahd;
                }
            }
        }
    }
    
    div.floater {
        &.item-picker {
            div.inner {
                border-color: $inner-border;
                section.tabs {
                    ul li.selected a {
                        background-color: rgba(145, 163, 173, 0.75);
                    }
                }
                section.pages {
                    border-color: $inner-border;
                    ul {
                        li {
                            border-color: $inner-border;
                            span.value {
                                color: $chrome-a;
                                &:hover {
                                    color: $chrome-ah;
                                }
                            }
                        }
                    }
                }
                section.tabs ul li a,
                section.buttons .button.text {
                    background: none;
                    @include round-box(0px);
                    @include shadow(none);
                    color: $chrome-a;
                    text-decoration: $chrome-ad;
                    background-color: rgba(255, 255, 255, 0.75);
                    text-shadow: none;
                    border-color: $inner-border;
                    &:hover {
                        color: $chrome-ah;
                        text-decoration: $chrome-ahd;
                        background-color: rgba(145, 163, 173, 0.75);
                    }
                    &.evented {
                        color: $inner-border;
                        &:hover {
                            background-color: rgba(255, 255, 255, 0.75);
                            color: $inner-border;
                        }
                    }
                }
            }
        }
        
        div.inner {
            background-color: $chrome;
            border-color: $settings-outer-border;
            color: $chrome-color;
        }
        
        h2 {
            @include button-gradient($pu-h-bgs, $pu-h-bgi, $pu-h-bgsl, $pu-h-bgbg);
            background-color: $pu-h-bg;
            color: $pu-h-color;
        }
        
        &.settings {
            color: $settings-color;
            div.bookwrap {
                nav.tabs {
                    a.tab {
                        border-color: $settings-inner-border;
                        border-radius: 0;
                        background-color: $heading-bg;
                        color: $pu-t;
                    }
                    .active .tab {
                        background-color: $log-bg;
                        color: $pu-ta;
                    }
                }
                div.book {
                    background-color: $log-bg;
                    border-color: $settings-inner-border;
                    color: $settings-color;
                    div.page {
                        .item {
                            border-color: $settings-item-border;
                            aside.hint {
                                border-color: $settings-inner-border;
                                border-left-color: $settings-item-border;
                                background-color: $log-bg;
                                color: $settings-item-faint-color;
                                font-style: normal;
                            }
                            &.faint {
                                p {
                                    color: $settings-item-faint-color;
                                }
                            }
                            h3 {
                                color: $heading-color;
                            }
                        }
                    }
                }
            }
        }
    }
    
    div.pager {
        div.notice {
            background-color: $pager-bg;
            border-color: $outer-border;
            h3 {
                color: $pager-header;
            }
            p {
                color: $pager-color;
            }
            a.close_notice {
                color: $pager-close;
                &:hover {
                    color: $pager-closeh;
                }
            }
        }
    }
    
}