@mixin button-gradient($start, $init, $slope, $bg) {
    background: -webkit-linear-gradient($start, $init 0%, $slope 5%, $bg 97%);
    background: -moz-linear-gradient($start, $init 0%, $slope 5%, $bg 97%);
    background: -ms-linear-gradient($start, $init 0%, $slope 5%, $bg 97%);
    background: -o-linear-gradient($start, $init 0%, $slope 5%, $bg 97%);
    background: linear-gradient($start, $init 0%, $slope 5%, $bg 97%);
}

@mixin wsc-theme($base: #223740,
    $chrome: #406D8B,
    $chrome-shadow: #0D4D69,
    $chrome-color: #99D3FA,
    $log-bg: #EAF8FF,
    $light: #5F85A3,
    $a: #334DB3,
    $ah: #990000,
    $tab-a: white,
    $tab-ah: #FF5959,
    $bgs: top,
    $bgi: #80A4BD,
    $bgsl: #3F87B8,
    $bgbg: #406D8B,
    $hbgs: top,
    $hbgi: #9AD0F1,
    $hbgsl: #73ACD3,
    $hbgbg: #406D8B,
    $outer-border: #0D4D69,
    $inner-border: #0D4D69,
    $heading-bg: #81AAC5,
    $highlight: white,
    $topic-color: #041827,
    $tabbed: #FF5959,
    $tabbed-fill: #9AD7F1,
    $tabbed-fill-bg: #C93838,
    $noise: #223740) {
    
    color: $base;
    a {
        color: $tab-a;
        &:hover { color: $tab-ah; }
    }
    &.button,
    form.msg input[type="submit"] {
        @include button-gradient($bgs, $bgi, $bgsl, $bgbg);
        background-color: $chrome;
        border-color: $base;
        &:hover {
            @include button-gradient($hbgs, $hbgi, $hbgsl, $hbgbg);
            background-color: $chrome-shadow;
            border-color: $base;
        }
    }
    
    nav.tabs {
        ul li {
            a {
                @include button-gradient($bgs, $bgi, $bgsl, $bgbg);
                background-color: $chrome;
                border-color: $outer-border;
                color: $tab-a;
                &.button {
                    border-color: $base;
                }
                &:hover {
                    @include button-gradient($hbgs, $hbgi, $hbgsl, $hbgbg);
                    color: $tab-ah;
                    font-weight: bold;
                }
            }
            &.noise a { font-weight: bold; }
            &.tabbed {
                a {
                    color: $tabbed;
                    border-color: $tabbed;
                    border-width: 1px;
                    font-weight: bold;
                }
                &.fill a {
                    @include button-gradient($bgs, $bgi, $tabbed-fill-bg, $bgbg);
                    color: $tabbed-fill;
                }
            }
        }
    }
    
    div.chatbook {
        background-color: $chrome;
        border-color: $outer-border;
    }
    div.chatwindow {

        header {
            color: $chrome-color;
            div.topic {
                background-color: $heading-bg;
                border-color: $inner-border;
                color: $topic-color;
            }
        }
        
        div.chatlog {
            background-color: $log-bg;
            
            a {
                color: $a;
                &:hover { color: $ah; }
            }
            
            div.logwrap {
                border-color: $inner-border;
                p.logmsg {
                    color: $base;
                    &.highlight,
                    &.highlight span {
                        background-color: $highlight;
                    }
                    span {
                        &.ts,
                        &.bg { color: $light; }
                    }
                }
            }
            
        }
        
    }
    
    div.chatcontrol {
        background-color: $chrome;
    }
    
    div.chatusers {
        div.pc {
            h3, h4 {
                background-color: $heading-bg;
            }
        }
        border: 1px solid $inner-border;
        border-left: none;
    }
    
    div.chatwindow div.userinfo {
        border-color: $inner-border;
        background-color: $heading-bg;
        div.info {
            background-color: $chrome;
            border-color: $inner-border;
            color: $chrome-color;
        }
    }
    
}