@mixin user-list {
    div.chatusers {
        margin: 0px;
        padding: 0px;
        overflow: auto;
        max-width: 300px;
        float: left;
        display: none;
        overflow: auto;
        
        div.pc {
            padding: 0px;
            margin: 0p;
            
            h3,
            h4 {
                margin: 0px;
                padding: 5px;
                padding: 2px 10px;
                font-size: 12px;
                &.first {
                    -moz-border-radius: inherit;
                    border-radius: inherit;
                }
            }
            
            ul {
                list-style: none;
                padding: 4px 5px;
                margin: 0px;
                
                li {
                    font-size: 11px;
                    line-height: 1.2em;
                    position: relative;
                    white-space: nowrap;
                    
                    a {
                        padding: 0px;
                        margin: 0px;
                        em {
                            font-style: normal;
                        }
                    }
                }
            }
        }
    }
}

@mixin user-info {
    div.userinfo {
        display: block;
        position: absolute;
        padding: 0;
        border: 1px solid black;
        border-right: none;
        
        div {
            display: block;
            float: left;
            padding: 0px;
        
            &.avatar {
                background: none;
                height: 100%;
                padding: 5px;        
                a.avatar { padding: 0px; }
                
                a img {
                    height: 50px;
                    width: 50px;
                    padding: 0px;
                    margin: 0px;
                }
            }
        
            &.info {
                padding-right: 5px;
                padding-left: 5px;
                margin: 0px;
                border-left: 1px solid black;
            }
        
            ul {
                list-style: none;
                margin: 0px;
                li {
                    padding-top: 0px;
                    padding-bottom: 0px;
                    font-size: 11px;
                    margin-top: 0px;
                    margin-bottom: 0px;
                    margin-left: 0px;
                }
            }
        }
    }
}