
section {
    border: none;
}

section.items {
    font-size: 16px;
    padding: 10px 15px;
    margin: 0px 50px 20px 50px;
    background-color: rgba(255, 255, 255, 0.75);
    border: 1px dashed #ABC9DA;
}

section.items a[href^="#"], nav.contents ul li.soon a {
    color: #CA662E;
    font-style: italic;
    border-bottom: 1px dotted #6B747A;
}

section.items a[href^="#"]:hover, nav.contents ul li.soon a:hover {
    color: #297AB9;
}

nav.contents ul li.soon a {
    border-bottom: none;
}

section.items article.item {
    padding: 10px;
}

section.items article.item h3 {
    padding: 0px;
}

section.items article.item h3 span {
    margin-left: 20px;
    font-family: Georgia;
    font-style: italic;
    color: #E66611;
    font-size: 12px;
}

section.items article.item section {
    padding: 15px 30px;
    margin: 0px;
}