/* Chat headers */
div.wsc div.chatbook div.chatwindow header {
    width: auto;
    color: #48779C;
    height: auto;
    overflow: hidden;
    border-bottom: none;
    line-height: 1.3em;
}

div.wsc div.chatwindow header div {
    margin: 0px;
    padding: 5px;
    display: none;
}

div.wsc div.chatwindow header div p {
    margin: 0px;
    padding: 0xp;
}

div.wsc div.chatwindow header div.title {
    padding-top: 0px;
}

div.wsc div.chatwindow header div.topic {
    background-color: #9ABED6;
    border: 1px solid #95B4CC;
    border-bottom: none;
    color: #2D506B;
}

div.wsc div.chatwindow header div.topic img {
    vertical-align: middle;
}

div.wsc div.chatwindow header div a {
    color: #2042C9;
}
div.wsc div.chatwindow header div a:hover {
    color: #990000;
}