/* Chat messages */
div.wsc p.logmsg {
    margin: 0px;
    padding: 0px 5px;
    overflow: hidden;
    vertical-align: middle;
    position: relative;
    word-wrap: break-word;
}

/* Highlight messages of interest dawg */
div.wsc p.logmsg.highlight,
div.wsc p.logmsg.highlight span {
    background-color: #DEF0FF;
}

div.wsc  p.logmsg span {
    display: table-cell;
    padding-right: 5px;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
}

div.wsc p.logmsg span strong {
    color: inherit;
}

div.wsc span.ts {
    color: #91A8BA;
    font-weight: bold;
}

div.wsc span.servermsg {
    font-weight: bold;
    font-style: normal;
}

div.wsc p.logmsg .caction {
    font-weight: normal;
    font-style: italic;
}

div.wsc p.logmsg .caction.user em {
    font-style: italic;
    font-weight: bold;
    color: inherit;
    vertical-align: middle;
}

div.wsc p.logmsg .cevent {
    font-weight: bold;
    vertical-align: middle;
}

div.wsc p.logmsg .cevent.bg {
    color: #91A8BA;
}

div.wsc p.logmsg .cevent.bg em {
    color: #91A8BA;
}

div.wsc p.logmsg em {
    color: #48779C;
    font-weight: normal;
}