html, body {
    font: normal 13px arial,sans-serif;
    line-height: 1.6em;
}

body {
    width: auto;
    margin: 0;
    padding: 0;
    overflow: hidden;/*
    background-color: #F0F6F7;*/
    background-color: #85c2ff;
    color: #124273;
}
h1, h2, h3, h4 { color: #044e39;
    /*font-family: Georgia, "Palatino Linotype", Palatino, "Book Antiqua", "Times New Roman", Times, serif;*/ }

/* MAIN NAVIGATION */
nav.crest {
    margin: 0px auto 0px 0px;
    padding: 0;
    color: #878787;
    /*
    background-color: #FFFFFF;*/
    background-color: #e5f1ff;
    /*list-style: none;
    color: #0000B8;*/
    border-bottom: 1px solid #c1c1c2;
    height: 30px;
    position: fixed;
    width: 100%;
    -webkit-box-shadow: 0 0 8px #363636;
    box-shadow: 0 0 5px #363636;
}

nav.crest ul {
    margin: 0;
    padding: 5px 10px 5px 10px;
    list-style: none;
    display: inline;
    float: left;
}

nav.crest ul li {
    display: inline;
    position: relative;
    margin: 0;
    padding: 0;
}
nav.crest ul li a {
    padding: 5px 10px;
    margin: 0;
    border-left: 1px dotted #878787;
}
nav.crest ul li a:hover {
    background-color: #F5FDFF;
}
nav.crest ul li:first-child a {
    border: None;
}

/* DROPDOWN */
nav.crest ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0;
    padding-top: 7px;
    color: #878787;
    background-color: #FFFFFF;
    list-style: none;
    float: left;
}
nav.crest ul li:hover ul {
    display: block;
    z-index: 401;
    white-space: nowrap;
}

nav.crest ul li:hover ul li a {
    display: block;
    margin: 0;
    padding: 10px 30px;
    border: 1px solid #c1c1c2;
    border-top: none;
    border-bottom: none;
    position: relative;
}

nav.crest ul li:hover ul li:first-child a {
}

nav.crest ul li:hover ul li:last-child a {
    border-bottom: 1px solid #c1c1c2;
}

/* NAVIGATION RIGHT SIDE */
nav.crest ul:last-child {
    float: right;
}
/* LOGIN FORM */
nav.crest ul li form.crest-login {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    padding: 0;
    padding-top: 7px;
    color: #878787;
    background-color: #FFFFFF;
    list-style: none;
    float: left;
}
nav.crest ul li:hover form.crest-login {
    display: block;
    z-index: 401;
}

nav.crest ul li:hover form.crest-login p {
    display: block;
    margin: 0;
    padding: 10px 30px;
    border: none;
    position: relative;
    border: 1px solid #c1c1c2;
    border-top: none;
    border-bottom: none;
    overflow: hidden;
}
/*
nav.crest ul li:hover form.crest-login section label {
}*/

nav.crest ul li:hover form.crest-login p input {
    float: right;
}

nav.crest ul li:hover form.crest-login p:last-child {
    border-bottom: 1px solid #c1c1c2;
}

nav.crest ul:last-child li ul {
    left: auto;
    right: 0;
}

div.body {
    width: 100%;
    clear: both;
    overflow: hidden;
}
header.mast {
    height: auto;
    border: none;
    background: none;
    width: 50%;
    margin: 3em auto;
}

header.mast h1 {
    color: #062d22;
}

header.mast p {
    margin-bottom: 0;
    color: #124273;
}
header.mast code {
    float: right;
    padding: 0px 20px;
}
header.mast code a{
    color: #21bfbf;
    font-weight: bold;
}

div.main {
    /*background-color: #FFFFFF;*/
    background-color: #e5f1ff;
    border-bottom: 1px solid #c1c1c2;
    overflow: hidden;
    padding: 0px;
    margin-top: 40px;
    margin-bottom: 10px;
    clear: both;
    height: 90%;
    /*-webkit-box-shadow: 0 0 5px #363636;
    box-shadow: 0 -1px #FFFFFF;*/
    box-shadow: 0 2px 8px #363636;
}

div.main:not(:first-child) {
    border-top: 1px solid #c1c1c2;
    /*-webkit-box-shadow: none;
    box-shadow: none;*/
}

div.mainpadded {
    padding: 0px 10%;
}

div.mainskinny {
    overflow: hidden;
    vertical-align: top;
    padding: auto;
    width: 650px;
    margin: 1em auto;
}

div.error {
    background-color: #FFD6D6;
    border: 1px solid #B82828;
    margin: 1.2em auto 1.2em auto;
    padding: 1.2em;
    color: #910606;
}

div.error h3 {
    margin: 0 auto;
}

div.error p {
    margin: 0 auto;
}

div.featured {
    padding: 0px;
    margin: 0px;
    border: none;
    width: 60%;
    float: left;
}


footer {
    clear: both;
    margin: 15px;
    text-align: center;
    font-size: 11px;
}

p {
    padding-right: 20px;
    padding-left: 20px;
}

a {
    color: #69aab8;
    text-decoration: none;
}

a:hover { color: #990000 }

a.user em {
    font-style: normal;
}

strong {
    color: #990000;
    font-style: normal;
    font-weight: bold;
}

em { color: #0000B8; }

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2 span {
    display: block;
    font-size: 11px;
    margin-left: 5px;
}

/* anchor buttons */
button, a.button, form input[type="submit"] {
    text-align: middle;
    padding: 5px;
    background-color: #1c77e3;
    background: -webkit-linear-gradient(#1c77e3, #125cb5);
    border: 1px solid #000000;
    border-radius: 8px;
    font-size: 11px;
    color: #CCFF33
}

button:hover, a.button:hover, form input[type="submit"]:hover {
    background-color: #CCFF33;
    background: -webkit-linear-gradient(#125cb5, #1c77e3);
    color: #1C77E3;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *\
 * ============================================================================================= *
 *                                        PRINTER CSS                                            *
 * ============================================================================================= *
 *        This stuff is just for the printer! Again, trying to keep things sweet and simple in   *
 *        the CSS so I'm trying to keep this part short.                                         *
 *                                                                                               *
 *        The CSS in this section relies on the default CSS for the website, which helps keep    *
 *        the CSS minimal.                                                                       *
\* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

@media print {
    nav.crest, nav.notebook ul li:not(.current), div.mclinks { display: none; }
    div.body { border: none; }
    header.mast { width: 80%; }
    div.body code { display: none; }
    div.featured {
        float: none;
        display: block;
        width: 90%;
        clear: both;
        margin: auto;
        border-bottom: 1px solid #c1c1c2;
    }
    div.news {
        float: none;
        display: block;
        width: 90%;
        margin: auto;
    }
    p a { font-weight: bold; }
}