/**
 * wsc css
 * Defines the style rules for the wsc GUI.
 * Mainly used for layout.
 * Themes do the fancy colours. (eventually)
 */

/*@import "defaults";*/
@import "userlist";
@import "nav";
@import "msg";
@import "heads";
@import "control";
@import "theme_template";


div.wsc {

    * {
        margin: 0;
        padding: 0;
    }
    
    font: normal 12px verdana, sans-serif;
    line-height: 1.6em;
    clear: both;
    
    @include navbar;
    
    a {
        text-decoration: none;
        &.user em { font-style: normal; }
    }
    
    div.chatbook {
        margin: 0px;
        padding: 5px;
        padding-bottom: 0px;
        border-top: 1px solid black;
        
        img {
            display: inline;
        }
        @include messages;
    }
            
    div.chatwindow {
        overflow: hidden;
        
        div.chatlog {
            overflow: hidden;
            float: left;
            width: 100%;
            
            a {
                text-decoration: none;
                padding: 0px;
                margin: 0px;
            }
            
            img {
                padding: 0px;
                margin: 0px;
                vertical-align: middle;
            }
            
            div.logwrap {
                border: 1px solid black;
                overflow: auto;
                padding-bottom: 4px;
            }
        
        }
        @include headers;
        @include user-list;
        @include user-info;
    
    }
    
    @include control;

}

@import "wsct_default";
div.wsc.wsct_test {
    @include wsc-theme(
        #293840,
        #2CCC17,
        #2CCC17,
        #75FF8F,
        $heading-bg: #CC5D17
    );
}