

div.wsc {
    background-color: #1E4382;
    color: white;
    padding-top: 10px;
    font-family: verdana, sans-serif;
}

div.wsc ul#chattabs {
    clear: both;
    list-style: none;
    padding: 0px;
    margin: 10px;
    margin-bottom: 5px;
}

div.wsc ul#chattabs li {
    display: inline;
    /*padding: 5px 0px;/**/
    /*margin-right: 1px;/**/
}

div.wsc ul#chattabs li.hidden {
    display: none;
}

div.wsc ul#chattabs li a {
    padding: 7px 10px;
    margin: auto;
    background-color: #C3D3DE;
    border: 1px solid #95B4CC;
    border-bottom: none;
    border-right: none;
}

div.wsc ul#chattabs li a:hover {
    background-color: #F5FDFF;
    border: 1px solid #95B4CC;
    border-bottom: none;
}

div.wsc ul#chattabs li.active {
    /*padding: 7px 0 5px 0;*/
}

div.wsc ul#chattabs li.active a {
    /**/padding: 8px 12px;/**/
    background-color: #EDF8FF;
    border: 1px solid #95B4CC;
    border-bottom: none;
}

/* Channel book lolol. */
div.wsc div.chatbook {
    background-color: #EDF8FF;
    margin: 0px;
    padding: 10px;
    border-top: 1px solid #95B4CC;
}

div.wsc div.chatbook img {
    display: inline;
}

/* Chat view */
div.wsc div.chatbook div.chatwindow {
    background-color: #EDF8FF;
    overflow: hidden;
    font-size: 13px;
}

/* Chat headers */
div.wsc div.chatbook div.chatwindow header {
    width: auto;
    background-color: #EDF8FF;
    color: #48779C;
    height: auto;
    overflow: hidden;
    border-bottom: none;
    line-height: 1.3em;
}

div.wsc div.chatwindow header div {
    margin: 0px;
    padding: 5px;
    display: none;
}

div.wsc div.chatwindow header div p {
    margin: 0px;
    padding: 0xp;
}

div.wsc div.chatwindow header div.title {
}

div.wsc div.chatwindow header div.topic {
    background-color: #9ABED6;
    border: 1px solid #95B4CC;
    border-bottom: none;
    color: #2D506B;
}
div.wsc div.chatwindow header div a {
    color: #2042C9;
}
div.wsc div.chatwindow header div a:hover {
    color: #990000;
}

/* Chat log */
div.wsc div.chatbook div.chatwindow div.chatlog {
    background-color: white;
    color: #48779C;
    overflow: hidden;
    float: left;
    width: 100%;
    font-size: 12px;
}

div.wsc div.chatlog a {
    color: #69AAB8;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
}

div.wsc div.chatlog a:hover {
    color: #990000;
}

div.wsc div.chatlog img {
    padding: 0px;
    margin: 0px;
}

div.chatlog div.logwrap {
    border: 1px solid #95B4CC;
    overflow: auto;
}

/* Chat messages */
div.wsc p.logmsg {
    margin: 0px;
    padding: 0px 5px;
    overflow: hidden;
    vertical-align: middle;
    position: relative;
    word-wrap: break-word;
}

/* Highlight messages of interest dawg */
div.wsc p.logmsg.highlight,
div.wsc p.logmsg.highlight span {
    background-color: #DEF0FF;
}

div.wsc  p.logmsg span {
    display: table-cell;
    padding-right: 5px;
    font-style: Verdana, sans-serif;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
}

div.wsc p.logmsg span strong {
    color: inherit;
}

div.wsc span.ts {
    color: #91A8BA;
    font-weight: bold;
}

div.wsc span.servermsg {
    font-weight: bold;
    font-style: normal;
}

div.wsc p.logmsg .caction {
    font-weight: normal;
    font-style: italic;
}

div.wsc p.logmsg .caction.user em {
    font-style: italic;
    font-weight: bold;
    color: inherit;
    vertical-align: middle;
}

div.wsc p.logmsg .cevent {
    font-weight: bold;
    vertical-align: middle;
}

div.wsc p.logmsg .cevent.bg {
    color: #91A8BA;
}

div.wsc p.logmsg .cevent.bg em {
    color: #91A8BA;
}

div.wsc p.logmsg em {
    color: #48779C;
    font-weight: normal;
}

/* User list */
div.wsc div.chatbook div.chatwindow div.chatusers {
    margin: 0px;
    padding: 0px;
    overflow: auto;
    max-width: 300px;
    float: left;
    display: none;
    overflow: auto;
    background-color: #C4DAFF;
    border: 1px solid #95B4CC;
    border-left: none;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-right-radius: 5px;
    color: #2D506B;
}

div.wsc div.chatusers div.pc {
    padding: 0px;
    margin: 0p;
}

div.wsc div.chatusers h3,
div.wsc div.chatusers h4 {
    margin: 0px;
    padding: 5px;
    border: 1px solid #485875;
    border-left: none;
    padding: 15px 10px;
    padding-left: 20px;
    background-color: #2B58A6;
    color: #EDF8FF;
    -moz-border-radius: none;
    border-radius: none;
    font-size: 12px;
}

div.wsc div.chatusers h3.first,
div.wsc div.chatusers h4.first {
    -moz-border-radius: inherit;
    border-radius: inherit;
}

div.wsc div.chatusers ul {
    list-style: none;
    padding: 10px 25px;
    margin: 0px;
    
}

div.wsc div.chatusers ul li {
    font-size: 11px;
    position: relative;
}

div.wsc div.chatusers ul li a {
    padding: 0px;
    margin: 0px;
    color: #2D506B;
}

div.wsc div.chatusers ul li a:hover {
    color: #990000;
}

/* Userlist info box */
div.wsc div.userinfo {
    display: block;
    position: absolute;
    padding: 0;
    background-color: #2B58A6;
    border: 1px solid #95B4CC;
    border-right: none;
}
div.wsc div.userinfo div {
    display: block;
    float: left;
    padding: 0px;
    background-color: #C4DAFF;
}

div.wsc div.userinfo div.avatar {
    background: none;
    height: 100%;
    padding: 5px;
}

div.wsc div.userinfo a.avatar {
    padding: 0px;
}

div.wsc div.userinfo div.avatar a img {
    height: 50px;
    width: 50px;
    padding: 0px;
    margin: 0px;
}

div.wsc div.userinfo div.info {
    padding-right: 5px;
    padding-left: 5px;
    color: #2D506B;
    height: 60px;
    margin: 0px;
}

div.wsc div.userinfo div ul {
    margin: 0px;
    color: #2D506B;
}

div.wsc div.userinfo div ul li {
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 11px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    color: #2D506B;
}

div.wsc div.chatusers ul li:hover div {
    display: block;
    z-index: 500;
    white-space: nowrap;
    float: left;
}

/* Input panel */
div.wsc div.chatcontrol {
    clear: both;
    margin: 0px;
    padding: 0px;
    background-color: #EDF8FF;
    color: #2D506B;
    width: 100%;
    padding-left: 10px;
}
div.wsc p {
    margin: 0px;
    padding: 0px;
    padding-left: 5px;
}
div.wsc form.msg {
    clear: both;
    padding: 5px 0px;
    width: 100%;
}

div.wsc form.msg input.msg {
    width: 60%;
}

div.wsc form.msg input[type="submit"] {
    text-align: middle;
    padding: 5px 10px;
    background: none;
    background-color: #C4DAFF;
    border: 1px solid #95B4CC;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 13px;
    color: #2D506B;
    -webkit-box-shadow: 1px 1px 2px black;
    -moz-box-shadow: 1px 1px 2px black;
    box-shadow: 1px 1px 2px black;
}

div.wsc form.msg input[type="submit"]:hover {
    background: none;
    /*background-color: #95B4CC;*/
    background-color: #C4DAFF;
    border: 1px solid #C4DAFF;
    color: #2D506B;
    /*color: #EDF8FF;*/
    cursor: pointer;
    -webkit-box-shadow: inset 1px 1px 2px black;
    -moz-box-shadow: inset 1px 1px 2px black;
    box-shadow: inset 1px 1px 2px black;
}