div.wsc {
    font: normal 12px verdana, sans-serif;
    line-height: 1.6em;
    clear: both;
}

div.wsc a {
    color: #69aab8;
    text-decoration: none;
}

div.wsc a:hover { color: #990000 }

div.wsc a.user em {
    font-style: normal;
}

/* Channel book lolol. */
div.wsc div.chatbook {
    background-color: #57A0B5; /*#EDF8FF;*/
    margin: 0px;
    padding: 5px;
    padding-bottom: 0px;
    border-top: 1px solid #355387;
}

div.wsc div.chatbook img {
    display: inline;
}

/* Chat view */
div.wsc div.chatbook div.chatwindow {
    overflow: hidden;
}

/* Chat log */
div.wsc div.chatbook div.chatwindow div.chatlog {
    background-color: #74D7F4;
    color: #48779C;
    overflow: hidden;
    float: left;
    width: 100%;
}

div.wsc div.chatlog a {
    color: #69AAB8;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
}

div.wsc div.chatlog a:hover {
    color: #990000;
}

div.wsc div.chatlog img {
    padding: 0px;
    margin: 0px;
    vertical-align: middle;
}

div.wsc div.chatlog div.logwrap {
    border: 1px solid #95B4CC;
    overflow: auto;
}