@font-face {
    font-family: 'IconicStroke';
    src: url('/font/iconic_stroke.eot');
    src: url('/font/iconic_stroke.eot?#iefix') format('embedded-opentype'),
         url('/font/iconic_stroke.ttf') format('truetype'),
         url('/font/iconic_stroke.svg#iconic') format('svg');
    font-weight: normal;
    font-style: normal;
}
.iconic { display:inline-block; font-family: 'IconicStroke'; &.lightbulb:before {content:'\e063';} &.equalizer:before {content:'\e052';} &.map_pin_stroke:before {content:'\e068';} &.brush_alt:before {content:'\e01c';} &.move:before {content:'\e03e';} &.paperclip:before {content:'\e08a';} &.pen_alt_stroke:before {content:'\e005';} &.move_vertical:before {content:'\e03b';} &.book_alt2:before {content:'\e06a';} &.layers:before {content:'\e01f';} &.pause:before {content:'\e049';} &.layers_alt:before {content:'\e020';} &.cloud_upload:before {content:'\e045';} &.chart_alt:before {content:'\e029';} &.fullscreen_exit_alt:before {content:'\e051';} &.cloud_download:before {content:'\e044';} &.comment_alt2_stroke:before {content:'\e004';} &.mail:before {content:'\2709';} &.check_alt:before {content:'\2714';} &.document_stroke:before {content:'\e066';} &.battery_charging:before {content:'\e05d';} &.stop:before {content:'\e04a';} &.arrow_up:before {content:'\2191';} &.move_horizontal:before {content:'\e038';} &.compass:before {content:'\e021';} &.minus_alt:before {content:'\e009';} &.battery_empty:before {content:'\e05c';} &.map_pin_alt:before {content:'\e002';} &.unlock_stroke:before {content:'\e076';} &.lock_stroke:before {content:'\e075';} &.question_mark:before {content:'\003f';} &.list:before {content:'\e055';} &.upload:before {content:'\e043';} &.reload:before {content:'\e030';} &.loop_alt4:before {content:'\e035';} &.loop_alt3:before {content:'\e034';} &.loop_alt2:before {content:'\e033';} &.loop_alt1:before {content:'\e032';} &.left_quote:before {content:'\275d';} &.x:before {content:'\2717';} &.last:before {content:'\e04d';} &.document_alt_stroke:before {content:'\e000';} &.bars:before {content:'\e06f';} &.arrow_left:before {content:'\2190';} &.arrow_down:before {content:'\2193';} &.download:before {content:'\e042';} &.home:before {content:'\2302';} &.calendar:before {content:'\e001';} &.right_quote_alt:before {content:'\e012';} &.fullscreen:before {content:'\e04e';} &.dial:before {content:'\e058';} &.plus_alt:before {content:'\e008';} &.clock:before {content:'\e079';} &.movie:before {content:'\e060';} &.steering_wheel:before {content:'\e024';} &.pen:before {content:'\270e';} &.tag_stroke:before {content:'\e02b';} &.pin:before {content:'\e067';} &.denied:before {content:'\26d4';} &.left_quote_alt:before {content:'\e011';} &.volume_mute:before {content:'\e071';} &.arrow_up_alt2:before {content:'\e018';} &.list_nested:before {content:'\e056';} &.arrow_up_alt1:before {content:'\e014';} &.comment_stroke:before {content:'\e06d';} &.undo:before {content:'\e02f';} &.umbrella:before {content:'\2602';} &.bolt:before {content:'\26a1';} &.article:before {content:'\e053';} &.read_more:before {content:'\e054';} &.beaker:before {content:'\e023';} &.beaker_alt:before {content:'\e010';} &.battery_full:before {content:'\e073';} &.arrow_right:before {content:'\2192';} &.new_window:before {content:'\e059';} &.plus:before {content:'\2795';} &.cog:before {content:'\2699';} &.key_stroke:before {content:'\26bf';} &.first:before {content:'\e04c';} &.comment_alt1_stroke:before {content:'\e003';} &.trash_stroke:before {content:'\e05a';} &.image:before {content:'\e027';} &.chat_alt_stroke:before {content:'\e007';} &.cd:before {content:'\e064';} &.right_quote:before {content:'\275e';} &.brush:before {content:'\e01b';} &.cloud:before {content:'\2601';} &.eye:before {content:'\e025';} &.play_alt:before {content:'\e048';} &.transfer:before {content:'\e041';} &.pen_alt2:before {content:'\e006';} &.camera:before {content:'\e070';} &.move_horizontal_alt2:before {content:'\e03a';} &.curved_arrow:before {content:'\2935';} &.move_horizontal_alt1:before {content:'\e039';} &.aperture:before {content:'\e026';} &.reload_alt:before {content:'\e031';} &.magnifying_glass:before {content:'\e074';} &.iphone:before {content:'\e06e';} &.fork:before {content:'\e046';} &.box:before {content:'\e06b';} &.bars_alt:before {content:'\e00a';} &.heart_stroke:before {content:'\2764';} &.volume:before {content:'\e072';} &.x_alt:before {content:'\2718';} &.link:before {content:'\e077';} &.moon_stroke:before {content:'\263e';} &.eyedropper:before {content:'\e01e';} &.spin:before {content:'\e036';} &.rss:before {content:'\e02c';} &.info:before {content:'\2139';} &.target:before {content:'\e02a';} &.cursor:before {content:'\e057';} &.minus:before {content:'\2796';} &.book_alt:before {content:'\e00b';} &.headphones:before {content:'\e061';} &.hash:before {content:'\0023';} &.arrow_left_alt1:before {content:'\e013';} &.arrow_left_alt2:before {content:'\e017';} &.fullscreen_exit:before {content:'\e050';} &.share:before {content:'\e02e';} &.fullscreen_alt:before {content:'\e04f';} &.at:before {content:'\0040';} &.chat:before {content:'\e05e';} &.move_vertical_alt2:before {content:'\e03d';} &.move_vertical_alt1:before {content:'\e03c';} &.check:before {content:'\2713';} &.mic:before {content:'\e05f';} &.calendar_alt_stroke:before {content:'\e06c';} &.book:before {content:'\e069';} &.move_alt1:before {content:'\e03f';} &.move_alt2:before {content:'\e040';} &.award_stroke:before {content:'\e022';} &.wrench:before {content:'\e078';} &.play:before {content:'\e047';} &.star:before {content:'\2605';} &.chart:before {content:'\e028';} &.rain:before {content:'\26c6';} &.folder_stroke:before {content:'\e065';} &.sun_stroke:before {content:'\2600';} &.user:before {content:'\e062';} &.battery_half:before {content:'\e05b';} &.aperture_alt:before {content:'\e00c';} &.eject:before {content:'\e04b';} &.arrow_down_alt1:before {content:'\e016';} &.pilcrow:before {content:'\00b6';} &.arrow_down_alt2:before {content:'\e01a';} &.arrow_right_alt1:before {content:'\e015';} &.arrow_right_alt2:before {content:'\e019';} &.rss_alt:before {content:'\e02d';} &.spin_alt:before {content:'\e037';}}
/**
 * wsc css
 * Defines the style rules for the wsc GUI.
 */

 
@import "helpers";
@import "userlist";
@import "nav";
@import "msg";
@import "heads";
@import "control";
@import "popup";
@import "settings";
@import "pager";
@import "theme_template";

/* Layout */
div.wsc {

    * {
        margin: 0;
        padding: 0;
    }
    
    font: normal 12px verdana, sans-serif;
    line-height: 1.6em;
    clear: both;
    
    @include navbar;
    
    a {
        text-decoration: none;
        &.user em { font-style: normal; }
    }
    
    div.chatbook {
        margin: 0px;
        padding: 5px;
        padding-bottom: 0px;
        border-top: 1px solid black;
        
        img {
            display: inline;
        }
        @include messages;
    }
            
    div.chatwindow {
        overflow: hidden;
        
        div.chatlog {
            overflow: hidden;
            float: left;
            width: 100%;
            border: 1px solid black;
            border-radius: 10px 10px 0px 0px;
            margin-right: 5px;
            
            a {
                padding: 0px;
                margin: 0px;
            }
            
            img {
                padding: 0px;
                margin: 0px;
                vertical-align: middle;
            }
            
            ul.logwrap {
                overflow: auto;
                list-style: none;
            }
        
        }
        @include headers;
        @include user-list;
        @include user-info;
    
    }
    
    @include control;
    @include popup;
    @include settings;
    @include pager;

}

/* Themes */
/* Default theme */
@import "wsct_default";

/* dAmn style theme */
div.wsc.wsct_dAmn {
    @include wsc-theme(
        $chrome: #D0DBD0,
        $chrome-a: #2C3635,
        $chrome-ah: #2C3635,
        $chrome-ad: underline,
        $chrome-ahd: underline,
        $heading-bg: #C2DDBE,
        $heading-color: #4F6457,
        $topic-bg: #E8EEE6,
        $topic-color: #2C3635,
        $userlist-bg: #DAE7D7,
        $inner-border: #9EAEA0,
        $outer-border: #858585,
        $chrome-color: #2C3635,
        $log-bg: #DCE7DC,
        $log-a: #2C3635,
        $log-ah: #2C3635,
        $log-ad: underline,
        $log-ahd: underline,
        $base: #2C3635,
        $light: #797979,
        $a: #2C3635,
        $ah: #2C3635,
        $ad: underline,
        $ahd: underline,
        $usri-ahd: underline,
        $tab-a: #2C3635,
        $tab-ah: #2C3635,
        $tab-ac: #265499,
        $highlight: white,
        $tabbed: #E02D2D,
        $tabbed-fill: #2C3635,
        $tab-bgbg: #ADBDAD,
        $tab-bgsl: #D5E4D5,
        $tab-bgi: #F9FFF9,
        $tab-abgi: #F9FFF9,
        $tab-hbgi: #F9FFF9,
        $tab-hbgbg: #AFC2AF,
        $tab-hbgsl: #D5DDD5,
        $tab-abgbg: #D0DBD0,
        $tab-abgsl: #E2F1E2,
        $bgi: #E7F3E7,
        $bgsl: #D0DBD0,
        $bgbg: #B5C4B5,
        $abgi: #E7F3E7,
        $abgsl: #B5C4B5,
        $abgbg: #D0DBD0,
        $hbgi: #E7F3E7,
        $hbgsl: #DDECDD,
        $hbgbg: #BEDBBE,
        $button: #7E9C7E,
        $buttonh: #96AD96,
        $buttona: #7E9C7E,
        $buttonb: #788A7D,
        $buttonab: #788A7D,
        $buttonhb: #788A7D,
        $button-shadow: #55685B,
        $buttona-shadow: #55685B,
        $buttonh-shadow: #55685B,
        $pu-h-bg: #D0DBD0,
        $pu-h-color: #2C3635,
        $pu-h-bgs: top,
        $pu-h-bgi: #F9FFF9,
        $pu-h-bgsl: #E2F1E2,
        $pu-h-bgbg: #D0DBD0,
        $settings-color: #515C52,
        $settings-item-border: #C3CAC4,
        $settings-inner-border: #9EAEA0,
        $settings-outer-border: #858585,
        $settings-item-faint-color: #848684,
        $brow-state-color: #6A6F6A,
        $pager-bg: #E8EEE6,
        $pager-header: #4F6457,
        $pager-color: #515C52,
        $pager-close: #4F6457
    );
}