html, body {
    width: 100%;
    height: 100%;
    color: #43703A;
    font-family: Verdana;
    line-height: 1.6em;
}

* {
    margin: 0px;
    padding: 0px;
}

html {
    background-color: #D3EBF3; /*rgba(225, 250, 244, 0.25);*/
}

h1,h2,h3,h4 {
    color: #2F5329;
}

p + p {
    padding-top: 20px;
}

em {
    font-family: Georgia;
    font-style: italic;
    color: #E66611;
}

i {
    font-family: Georgia;
}

a {
    text-decoration: none;
    color: #349AAD;
}

a:hover {
    text-decoration: none;
    color: #CA662E;
}

a[href^=http] {
    color: #297AB9;
    font-style: italic;
    border-bottom: 1px dotted #6B747A;
}

a[href^=http]:hover {
    color: #CA662E;
}

em a {
    color: #E66611;
}

cite {
    color: #297AB9;
}

section img {
    box-shadow: 0 0 15px #616161;
}

img.full {
    margin-left: -76px;
}

div.squeeze {
    width: 70%;
    height: 100%;
    margin: 0em auto;
}

div.rbtn {
    text-align: center;
    padding: 2px;
    border-radius: 50px;
    border: 5px solid black;
    line-height: 1em;
    background-color: white;
}

div.rbtn a {
    display: block;
    width: 60px;
    height: 60px;
    padding: 20px;
    border-radius: 50px;
    color: white;
    font-family: Georgia;
    font-style: italic;
    background-color: black;
}

div.rbtn a:hover {
    background-color: gray;
}

div.rbtn.start {
    position: fixed;
    top: 10px;
    right: 10px;
    border-radius: 55px;
}

div.rbtn.start a {
    width: 58px;
    font-size: 12px;
    background-color: gray;
}

div.rbtn.start a:hover {
    background-color: #D60909;
}

div.rbtn.wsc {
    margin: 0em auto 4em auto;
    border-radius: 55px;
    width: 92px;
}

div.rbtn.wsc a {
    height: 58px;
    padding: 30px 16px 0px 16px;
    border-radius: 45px;
    font-size: 35px;
    background-color: #61B4DB;
    text-shadow: 0px -1px #105F85;
}

div.rbtn.wsc a:hover {
    background-color: #BB6240;
    text-shadow: 0 -1px #7E3519;
}

div.rbtn.wsc a:hover:after {
    content: attr(hint);
    display: block;
    padding-top: 7px;
    line-height: 13px;
    font-size: 11px;
    text-shadow: 0 -1px #7E3519;
}

nav.menu {
    position: absolute;
    top: 0px;
    height: 60px;
    line-height: .6em;
}

nav.menu ul {
    list-style: none;
}

nav.menu ul li {
    display: block;
    float: left;
    padding: 15px 0px;
    font-size: 12px;
}

nav.menu ul li a {
    color: #86B4BD;
    padding: 15px 20px;
    background-color: rgba(172, 224, 222, 0.9); /*rgba(215, 238, 237, 0.9);*/
    margin: 0px 5px;
}

nav.menu ul li a:hover {
    color: #498794;
    background-color: rgba(145, 230, 226, 0.9);
}

nav.menu ul li a.active {
    color: #498794;
    background-color: rgba(159, 199, 197, 0.9);
}

nav.contents {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(184, 214, 231, 0.77);
    border-right: 1px solid #ABC9DA;
    height: 100%;
    min-width: 100px;
    width: 13%;
    overflow: hidden;
    padding: 10px 0px 10px 10px;
}

nav.contents ul {
    list-style: none;
    font-size: 14px;
    padding-left: 10px;
}

div.content {
    margin: 8em 1em;
    padding-bottom: 50px;
}

div.content h1 {
    padding: 25px 0px;
}

section {
    padding: 30px 15px;
    margin: 0px 50px;
    border-bottom: 1px solid #DDE2E6;
    font-size: 14px;
}

section:last-child {
    border-bottom: none;
}

section h2 {
    font-size: 26px;
    padding: 0px 0px 15px 0px;
}

section h3 {
    font-size: 20px;
    padding: 15px 0px;
    color: #2F5329;
}

section img {
    display: block;
    margin: 15px auto;
}

section ul {
    padding: 0px 60px;
    list-style: none;
    font-size: 12px;
    line-height: 1.6em;
}

section .img {
    display: block;
    clear: both;
    overflow: hidden;
}

section .img span.img {
    display: block;
    position: relative;
    max-width: 35%;
    margin: 0px 10px;
    padding: 10px;
    clear: none;
}

section .img span.img img {
    display: inline-block;
    margin: 0px;
}

section .img .t {
    max-width: 60%;
}

section .img .img.r {
    float: right;
    right: 20px;
}

section .img .t.l {
    float: left;
}

section .img .img.l {
    float: left;
    left: 20px;
}

section .img .t.r {
    float: right;
}

section p + article {
    margin-top: 20px;
}

section article + p {
    margin-top: 20px;
}

section * + footer {
    margin-top: 20px;
}

section footer {
    font-size: 12px
}

section footer em {
    font-style: italic;
}

article.min {
    height: 60px;
    border: 1px solid #DDE2E6;
    padding: 0px 15px;
    color: #85A389;
    background-color: white;
}

article.min h3 {
    -webkit-transition: color, .5s;
    transition: color, .5s;
    color: #A8BDA5;
}

article.min h3 span {
    -webkit-transition: opacity, .5s;
    transition: opacity, .5s;
    display: inline;
    margin-left: 10px;
    font-family: Georgia;
    font-style: italic;
    font-size: 12px;
    color: #86929B;
    opacity: 0;
}

article.min .planned {
    opacity: 0;
}

article.min:hover {
    height: auto;
    border: 1px solid #DDE2E6;
    padding-bottom: 20px;
}

article.min:hover h3 {
    -webkit-transition: color, 1s;
    transition: color, 1s;
    color: #5A795E;
}

article.min:hover h3 span {
    -webkit-transition: opacity, 1s;
    transition: opacity, 1s;
    opacity: 1;
}

article.min:hover .planned {
    -webkit-transition: opacity, 1s;
    transition: opacity, 1s;
    opacity: 1;
}

article.min:not(:first-child) {
    margin-top: 15px;
}


